@page
@model LogInModel
@{
    ViewData["Title"] = "Log In";
}

<section class="login-form">
    <div class="form-box">
        <div class="form-value">
            <form method="post" asp-page="LogIn">
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                <h2>Inicio de Sesión</h2>
                <div class="inputbox" id="usernameInput">
                    <ion-icon name="person-outline"></ion-icon>
                    <input name="Username" type="text" value="@Model.Username" required />
                    <label for="usernameInput">Usuario: </label>
                </div>
                <span class="text-danger"></span>
                <div class="inputbox passwordInput">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input name="Password" type="password" required />
                    <label for="passwordInput">Contraseña: </label>
                </div>
                <span class="text-danger">@Model.Message</span>
                <br />
                <br />
                <input type="submit" class="btn btn-primary" value="Iniciar Sesión" />
            </form>
        </div>
    </div>
</section>


